/*arg.h*/
/*config.h*/
/*config.h.orig*/
/*config.h.rej*/
/*config.mk*/
/*config.mk.orig*/
/*dynamicArray.h*/
/*FAQ*/
/*LEGACY*/
/*LICENSE*/
/*Makefile*/
/*README*/
/*st*/
/*st.1*/
/*st.c*/
/*st-clipboard-0.8.2.diff*/
/*st.c.orig*/
/*st.desktop*/
/*st.h*/
/*st.h.orig*/
/*st.h.rej*/
/*st.info*/
/*st.o*/
/*TODO*/
/*win.h*/
/*x.c*/
/*x.c.orig*/
/*x.c.rej*/
/*x.o*/
